<!-- ---
import { projects, type Project } from '../utils/projects/projects';
---

<div class="grid">
  {
    projects.map((proyecto:Project, index:number) => (
      <ProjectCard
        id={proyecto.id}
        titulo={proyecto.titulo}
        thumbnail={proyecto.thumbnail}
        imagenes={proyecto.imagenes}
        descripcion={proyecto.descripcion}
        index={index}
      />
    ))
  }
</div> -->
